.navbar-custom{
  background-color: #FFD8CC;
  padding:0.625rem 0;
  width: 100%;
  position: fixed;
  top: 0;
}

.navbar-brand {
  padding: 0 0 0 1.875rem;
  font-size: 2.5rem;
}

.icon-image{
  width: 30%;
  padding: 0 1.875rem 0.625rem 0;
}

.navbar-collapse{
  padding: 0 0 0 1.875rem;
}

.navbar-toggler{
  margin: 0 1.875rem 0 0;
}

.row{
  margin: 0;
}

.app-store-button{
  width: 40%
}

#title{
  padding-top: 6.25rem;
  background-color: #FFBD9B;
}
